<div class="container">
    <form method="post" action="/user/update/<%=user.id%>" accept-charset="utf-8" class="form-singin">
        <label>Name:</label>
        <input name="name" class="form-control" value="<%=user.name%>" required>
        <label>LastName:</label>
        <input name="lastname" class="form-control" value="<%=user.lastname%>" required>
        <label>Username:</label>
        <input name="username" class="form-control" value="<%=user.username%>" required>
        <label>E-mail:</label>
        <input name="email" class="form-control" value="<%=user.email%>">
        <br>
        <input type="submit" class="btn btn-success" value="Guardar">
    </form>
</div>